PORT=3000
CACHE_TTL=300
REQUEST_LIMIT=5
NODE_ENV='development'

DEVELOPMENT_DB_POSTGRESQL_PORT='5432'
DEVELOPMENT_DB_POSTGRESQL_HOST='localhost'
DEVELOPMENT_DB_POSTGRESQL_USERNAME='postgres'
DEVELOPMENT_DB_POSTGRESQL_PASSWORD='your-password'
DEVELOPMENT_DB_POSTGRESQL_DATABASE='website-audit-consultant-db'

PRODUCTION_DB_POSTGRESQL_PORT='55443322'
PRODUCTION_DB_POSTGRESQL_USERNAME='user-josue'
PRODUCTION_DB_POSTGRESQL_PASSWORD='your-password'
PRODUCTION_DB_POSTGRESQL_DATABASE='website-audit-consultant-db'
PRODUCTION_DB_POSTGRESQL_HOST='josue-postgresql-cluster-9473.j77.aws-us-east-1.cockroachlabs.cloud'
PRODUCTION_DB_POSTGRESQL_CERTIFICATE='-----BEGIN CERTIFICATE----- MIIFazCCA1OgAwIBkfnyhhfuigsDSQONZRGPgu2OCiwAwDQYJKoZIhvcNAQELBQAw TzELMAklnfjskiflVMxKTAnBgNVBAoTIEludGVybmV0Il9nJEiU0Zsnvgc/ubhPgXRR4Xq37Z0j4r7g1SgEEzwxA57d emyPxgcYxn/eR44/KJ4EBs+lVDR3veyJm+kXQ99b21/+jh5Xos1AnX5iItreGCc= -----END CERTIFICATE-----'
